TOKEN = <Telegram Bot TOKEN(str)>
ADMIN = <Telegram ID(int)>
SECRET_WEBHOOK = str
URL_WEBHOOK = 'https://example.com'

YANDEX_API_KEY = str

LOGFILE_NAME = 'log.log'

DB_HOST = str
DB_NAME = str
DB_USER = str
DB_PASS = str